body {
  margin: 0;
  background-image: url("http://localhost:3000/images/background.png");
}
.App {
  text-align: center;
}

.background-top {
  width: 150px;
  height: 150px;
  position: fixed;
  top: 0;
  right: 0;
  background-image: url("http://localhost:3000/images/background-decoration-paper.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.background-bottom {
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-image: url("http://localhost:3000/images/background-decoration-future.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  width: 350px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("http://localhost:3000/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
